<!--h1>{{ pagename|title }}</h1>
<ul>
{% for author in authors %}
  <li{% if loop.first %} class="first"{% endif %}>
    {{ author }}
  </li>
{% endfor %}
</ul-->

<html>
<head>
	<style>
		input[type="text"]{
			margin: 10px 5px;
		}

		.day{
			width: 100px;
			display: inline-block;
		}
	</style>
</head>
<body>
	<h1>ALARM!!!</h1>
	<form action="http://127.0.0.1:1337" method="POST">
		<span class="day">Monday: </span><input name="mon-hour" placeholder="Hours" value="{{mon.hour}}" type="text"/> : <input name="mon-min" placeholder="Minutes" value="{{mon.min}}" type="text"/><br/>
		<span class="day">Tuesday: </span><input name="tue-hour" placeholder="Hours" value="{{tue.hour}}" type="text"/> : <input name="tue-min" placeholder="Minutes" value="{{tue.min}}" type="text"/><br/>
		<span class="day">Wednesday: </span><input name="wed-hour" placeholder="Hours" value="{{wed.hour}}" type="text"/> : <input name="wed-min" placeholder="Minutes" value="{{wed.min}}" type="text"/><br/>
		<span class="day">Thursday: </span><input name="thu-hour" placeholder="Hours" value="{{thu.hour}}" type="text"/> : <input name="thu-min" placeholder="Minutes" value="{{thu.min}}" type="text"/><br/>
		<span class="day">Friday: </span><input name="fri-hour" placeholder="Hours" value="{{fri.hour}}" type="text"/> : <input name="fri-min" placeholder="Minutes" value="{{fri.min}}" type="text"/><br/>
		<span class="day">Saturday: </span><input name="sat-hour" placeholder="Hours" value="{{sat.hour}}" type="text"/> : <input name="sat-min" placeholder="Minutes" value="{{sat.min}}" type="text"/><br/>
		<span class="day">Sunday: </span><input name="sun-hour" placeholder="Hours" value="{{sun.hour}}" type="text"/> : <input name="sun-min" placeholder="Minutes" value="{{sun.min}}" type="text"/><br/><br/>


		<span class="day">Next: </span><input name="next-hour" placeholder="Hours"  value="{{next.hour}}" type="text"/> : <input name="next-min" placeholder="Minutes" value="{{next.min}}" type="text"/><br/>
		<span class="day">Countdown: </span><input name="count-hour" value="{{count.hour}}" placeholder="Hours" type="text"/> : <input name="count-min" placeholder="Minutes" value="{{count.min}}" type="text"/><br/>
		
		<input type="submit"/>
	</form>
	Errorz: {{error}}
</body>
</html>